.App {
  text-align: center;
}

img{
  width:100%;
  height:800px;
}

body, html{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
body{
  /*background: url(mov.jpg) 50% 50%;*/
  background-size: cover;
  font-family: "Montserrat", sans-serif;
}

.container{
  width: 100%;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: black;
  color:#f0f0f0;
}
.container h1{
  text-transform: uppercase;
  font-size: 60px;
  margin: 0px;
  letter-spacing: 10px;
}

.cotainer h2{
  margin: 0;
  font-size: 20px;
  font-weight: 500;
  font-style: italic;
}

.count{
  margin: 30px 0;
}
.countd{
  display:inline-block;
  width: 100px;
  height: 100px;
  border: 2px solid;
  margin: 0 30px;
  font-size: 16px;
  border-radius: 50%;
  overflow: hidden;
}
.countd span{
  display: block;
  font-size: 36px;
  margin-top: 16px;
}

.footer{
  bottom:-5px;
  left:0;
  right:0;
  position: absolute;;

}

.footer-icon{
  margin-left:10px;
  margin-right:10px;
  font-size:28px;
  color:#5bace8;
}

.copyright-footer{
  vertical-align: top;
  color:#f0f0f0;
}

a{
  color: inherit;
}

.notifyButton{
  font-family: "Montserrat", sans-serif;
  height: 35px;
  margin-left: 10px;
  background-color:black;
  color:#f0f0f0;
  font-weight: bold;
  font-size:16px;
  border-radius:4px;
}

.emailInput{
  font-weight: bold;
  border-radius:4px;
  border-color: black;
  height: 30px;
  text-indent: 10px;
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  background-color:#f0f0f0;
}


/*For phones*/
@media only screen and (min-device-width : 375px) and (max-device-width : 812px){
  .container h1{
    text-transform: uppercase;
    font-size: 50px;
    margin: 0px;
    letter-spacing: 5px;
  }
  
  .cotainer h2{
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    font-style: italic;
  }
  .countd{
    display:inline-block;
    width: 65px;
    height: 65px;
    border: 2px solid;
    margin: 0 15px;
    font-size: 10px;
    border-radius: 50%;
    overflow: hidden;
  }
  .countd span{
    display: block;
    font-size: 22px;
    margin-top: 6px;
  }

  .emailInput{
    font-weight: bold;
    border-radius:4px;
    border-color: black;
    height: 30px;
    text-indent: 10px;
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    background-color:#f0f0f0;
  }

  img{
    width:100%;
    height:650px;
  }
}
