.App {
  text-align: center;
}

p{
  margin-left: 5px;
  margin-right: 5px;
  font-size: 18px;
  font-weight: 500;
  font-style: italic;
}

img{
  width:100%;
  height:760px;
}

body, html{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
body{
  /*background: url(mov.jpg) 50% 50%;*/
  background-size: cover;
  font-family: "Montserrat", sans-serif;
}

.container{
  width: 100%;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: black;
  color:#f0f0f0;
}
.container h1{
  text-transform: uppercase;
  font-size: 60px;
  margin: 0px;
  letter-spacing: 10px;
}

.container h2{
  margin: 0;
  font-size: 30px;
}

.count{
  margin: 20px 0;
}
.countd{
  display:inline-block;
  width: 100px;
  height: 100px;
  border: 3px solid;
  margin: 0 20px;
  font-size: 16px;
  border-radius: 50%;
  overflow: hidden;
}
.countd span{
  display: block;
  font-size: 36px;
  margin-top: 16px;
}

.footer{
  bottom:-5px;
  left:0;
  right:0;
  position: absolute;;
}

.footer-icon{
  margin-left:10px;
  margin-right:10px;
  font-size:28px;
  color:#5bace8;
  margin-bottom: -15px;
}

.copyright-footer{
  vertical-align: top;
  color:#f0f0f0;
}

a{
  color: inherit;
}

.notifyButton{
  font-family: "Montserrat", sans-serif;
  height: 35px;
  margin-left: 10px;
  background-color:black;
  color:#f0f0f0;
  font-weight: bold;
  font-size:16px;
  border-radius:4px;
}

.emailInput{
  font-weight: bold;
  border-radius:4px;
  border-color: black;
  height: 30px;
  text-indent: 10px;
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  background-color:#f0f0f0;
}


/*Mobile view*/
@media only screen 
and (min-device-width : 270px)
and (max-device-width : 290px){
  p{
    margin-left: 5px;
    margin-right: 5px;
  }

  .container h1{
    text-transform: uppercase;
    font-size: 40px;
    margin: 0px;
    letter-spacing: 5px;
  }
  
  .container h2{
    margin: 0;
    font-size: 22px;
    font-weight: 500;
  }

  .count{
    margin: 15px 0;
  }

  .countd{
    display:inline-block;
    width: 65px;
    height: 65px;
    border: 2px solid;
    margin: 0 5px;
    font-size: 12px;
    border-radius: 50%;
    overflow: hidden;
  }
  .countd span{
    display: block;
    font-size: 24px;
    margin-top: 8px;
  }

  .emailInput{
    font-weight: bold;
    border-radius:4px;
    border-color: black;
    height: 30px;
    text-indent: 10px;
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    background-color:#f0f0f0;
  }

  img{
    width: 100%; 
    overflow: hidden;
    height: 680px;

  }

  .footer-icon{
    margin-left:10px;
    margin-right:10px;
    font-size:24px;
    color:#5bace8;
    margin-bottom: -10px;
  }

}

@media only screen 
and (min-device-width : 290px)
and (max-device-width : 354px){
  p{
    font-size: 16px;
    font-style: italic;
  }

  .container h1{
    text-transform: uppercase;
    font-size: 40px;
    margin: 0px;
    letter-spacing: 5px;
  }
  
  .container h2{
    margin: 0;
    font-size: 22px;
    font-weight: 800;
  }

  .count{
    margin: 15px 0;
  }

  .countd{
    display:inline-block;
    width: 65px;
    height: 65px;
    border: 2px solid;
    margin: 0 5px;
    font-size: 12px;
    border-radius: 50%;
    overflow: hidden;
  }
  .countd span{
    display: block;
    font-size: 24px;
    margin-top: 8px;
  }

  .emailInput{
    width: 250px;
  }

  img{
    width: 100%; 
    overflow: hidden;
    height: 580px;
  }

  .footer-icon{
    font-size:22px;
    margin-bottom: -15px;
  }
  .notifyButton{
    height: 25px;
    margin-left: 10px;
    font-size:14px;
    border-radius:4px;
  }
}

@media only screen 
and (min-device-width : 355px)
and (max-device-width : 400px){
  p{
    margin-left: 7px;
    margin-right: 7px;
  }

  .container h1{
    font-size: 50px;
    margin: 0px;
    letter-spacing: 5px;
  }
  
  .container h2{
    margin: 0;
    font-size: 24px;
    font-weight: 800;
  }

  .count{
    margin: 25px 0;
  }

  .countd{
    display:inline-block;
    width: 70px;
    height: 70px;
    border: 2px solid;
    margin: 0 5px;
    font-size: 12px;
    border-radius: 50%;
    overflow: hidden;
  }
  .countd span{
    display: block;
    font-size: 24px;
    margin-top: 8px;
  }

  .emailInput{
    font-weight: bold;
    border-radius:4px;
    border-color: black;
    height: 30px;
    text-indent: 10px;
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    background-color:#f0f0f0;
  }

  img{
    max-width: 100%; 
    overflow: hidden;
    height: 820px;

  }

  .footer-icon{
    margin-left:10px;
    margin-right:10px;
    font-size:24px;
    color:#5bace8;
  }
}

@media only screen 
and (min-device-width : 401px)
and (max-device-width : 570px){
  img{
    width:100%;
    height:900px;
  }
}

@media only screen 
and (min-device-width : 571px)
and (max-device-width : 700px)
and (orientation:portrait){
  img{
    width:100%;
    height:990px;
  }
}

@media only screen 
and (min-device-width : 701px)
and (max-device-width : 1023px)
and (orientation:portrait){
  img{
    width:100%;
    height:1100px;
  }
}

@media only screen 
and (min-device-width : 1024px)
and (max-device-width : 1440px)
and (orientation:portrait){
  img{
    width:100%;
    height:1400px;
  }
}