.App {
  text-align: center;
}

img{
  width:100%;
  height:800px;
}

body, html{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
body{
  /*background: url(mov.jpg) 50% 50%;*/
  background-size: cover;
  font-family: "Montserrat", sans-serif;
}

.container{
  width: 100%;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: black;
  color:#f0f0f0;
}
.container h1{
  text-transform: uppercase;
  font-size: 60px;
  margin: 0px;
  letter-spacing: 10px;
}

.cotainer h2{
  margin: 0;
  font-size: 20px;
  font-weight: 500;
  font-style: italic;
}

.count{
  margin: 20px 0;
}
.countd{
  display:inline-block;
  width: 100px;
  height: 100px;
  border: 3px solid;
  margin: 0 20px;
  font-size: 16px;
  border-radius: 50%;
  overflow: hidden;
}
.countd span{
  display: block;
  font-size: 36px;
  margin-top: 16px;
}

.footer{
  bottom:-5px;
  left:0;
  right:0;
  position: absolute;;
}

.footer-icon{
  margin-left:10px;
  margin-right:10px;
  font-size:28px;
  color:#5bace8;
}

.copyright-footer{
  vertical-align: top;
  color:#f0f0f0;
}

a{
  color: inherit;
}

.notifyButton{
  font-family: "Montserrat", sans-serif;
  height: 35px;
  margin-left: 10px;
  background-color:black;
  color:#f0f0f0;
  font-weight: bold;
  font-size:16px;
  border-radius:4px;
}

.emailInput{
  font-weight: bold;
  border-radius:4px;
  border-color: black;
  height: 30px;
  text-indent: 10px;
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  background-color:#f0f0f0;
}


/*Mobile view*/
@media only screen 
and (min-device-width : 355px)
and (max-device-width : 896px){
  p{
    margin-left: 5px;
    margin-right: 5px;
  }

  .container h1{
    text-transform: uppercase;
    font-size: 45px;
    margin: 0px;
    letter-spacing: 5px;
  }
  
  .cotainer h2{
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    font-style: italic;
  }

  .count{
    margin: 25px 0;
  }

  .countd{
    display:inline-block;
    width: 65px;
    height: 65px;
    border: 2px solid;
    margin: 0 5px;
    font-size: 12px;
    border-radius: 50%;
    overflow: hidden;
  }
  .countd span{
    display: block;
    font-size: 24px;
    margin-top: 8px;
  }

  .emailInput{
    font-weight: bold;
    border-radius:4px;
    border-color: black;
    height: 30px;
    text-indent: 10px;
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    background-color:#f0f0f0;
  }

  img{
    max-width: 100%; 
    overflow: hidden;
    height: 820px;

  }

  .footer-icon{
    margin-left:10px;
    margin-right:10px;
    font-size:24px;
    color:#5bace8;
  }
}

@media only screen 
and (min-device-width : 280px)
and (max-device-width : 354px){
  p{
    margin-left: 5px;
    margin-right: 5px;
  }

  .container h1{
    text-transform: uppercase;
    font-size: 45px;
    margin: 0px;
    letter-spacing: 5px;
  }
  
  .container h2{
    margin: 0;
    font-size: 22px;
    font-weight: 800;
  }

  .count{
    margin: 15px 0;
  }

  .countd{
    display:inline-block;
    width: 65px;
    height: 65px;
    border: 2px solid;
    margin: 0 5px;
    font-size: 12px;
    border-radius: 50%;
    overflow: hidden;
  }
  .countd span{
    display: block;
    font-size: 24px;
    margin-top: 8px;
  }

  .emailInput{
    font-weight: bold;
    border-radius:4px;
    border-color: black;
    height: 30px;
    text-indent: 10px;
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    background-color:#f0f0f0;
  }

  img{
    width: 100%; 
    overflow: hidden;
    height: 660px;

  }

  .footer-icon{
    margin-left:10px;
    margin-right:10px;
    font-size:24px;
    color:#5bace8;
  }
}
/*
@media (orientation: landscape) and (max-width: 400px){
  p{
    margin-left: 5px;
    margin-right: 5px;
  }

  .container h1{
    text-transform: uppercase;
    font-size: 45px;
    margin: 10px;
    letter-spacing: 5px;
  }
  
  .cotainer h2{
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    font-style: italic;
  }

  .count{
    margin: 5px 0;
  }

  .countd{
    display:inline-block;
    width: 75px;
    height: 75px;
    border: 2px solid;
    margin: 0 15px;
    font-size: 12px;
    border-radius: 50%;
    overflow: hidden;
  }
  .countd span{
    display: block;
    font-size: 24px;
    margin-top: 8px;
  }

  .emailInput{
    font-weight: bold;
    border-radius:4px;
    border-color: black;
    height: 30px;
    text-indent: 10px;
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    background-color:#f0f0f0;
  }

  img{
    width:100%;
    height:896px;
  }

  .footer-icon{
    margin-left:10px;
    margin-right:10px;
    font-size:24px;
    color:#5bace8;
  }
  .footer{
    bottom:0px;
    left:0;
    right:0;
    position: absolute;;
  }
}
*/

